/* blue accent #0dd3ff */

/* Globals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(243, 243, 243);
  overflow-x: hidden;
  font-family: "Ubuntu", Aeriel;
}

a {
  text-decoration: none;
  color: black;
}

section {
  background-color: #fff;
  height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
  z-index: -10;
}

.btn {
  width: 200px;
  height: 70px;
  border: 0;
  border-radius: 20px;
  background: #0dd3ff;
  color: #fff;
  font-family: inherit;
  font-size: 30px;
  margin: 0 60px;
  box-shadow: 1px 1px 3px #333;
}

.btn:hover {
  transform: scale(1.2);
  transition: transform 300ms ease-out;
}

/* header and nav bar order should be parent to child and left to right */

/* -----HEADER-----*/

header {
  display: flex;
  flex-direction: row;
  position: relative;
}

.logo {
  margin: 5px 0 5px 5px;
  margin-left: 10px;
  padding: 2px;
  font-weight: 500;
  font-size: 35px;
  z-index: 1;
}

.logo::after {
  content: "Philip Pigmon";
  color: #0dd3ff;
  position: absolute;
  left: 8px;
  z-index: -1;
}

/* -----NAVBAR-----*/

.nav {
  margin: 0 auto;
}

.nav ul {
  display: flex;
  margin: 7px 35px 0 0;
}

.nav ul li {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  list-style: none;
  cursor: pointer;
}

.nav ul li:after {
  display: block;
  content: "";
  border-bottom: solid 3px #0dd3ff;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.2);
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -ms-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

.nav ul li:hover:after {
  transform: scaleX(1);
}

/* -----DARK/LIGHT MODE SECTION-----*/

.dark-light-mode-container {
  display: flex;
  margin: 15px 10px 5px 0;
  padding-top: 1px;
  font-size: 20px;
}

/* -----SOCIAL LINKS-----*/

.social-links {
  margin: 10px 35px 5px 5px;
  padding: 5px;
}

.social-links a {
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
}

.social-links a:hover {
  color: #0dd3ff;
  transition: color 500ms;
}

/* ------------body of main page------ */

/* -----MAIN-----*/

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.profile-image {
  width: 300;
  height: 600px;
}

.main-content {
  width: 900px;
  height: auto;
  font-size: 200%;
  padding: 25px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.main-content span {
  background-color: #0dd3ff;
  color: #fff;
}

.main-content h1,
.main-content p {
  margin: 5px;
}

.main-content p {
  padding-bottom: 15px;
}

/* buttons on main page */

.btns-container {
  display: flex;
  justify-content: center;
}

/* -----ABOUT SECTION-----*/
.about {
  display: flex;
  flex-direction: column;
}
.about-header {
  margin: 50px auto;
  font-size: 3rem;
}

.about p {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 50%;
}

/* -----WORK SECTION-----*/

.work {
  display: flex;
  flex-direction: column;
}

.work-header {
  margin: 50px auto;
  font-size: 3rem;
}

.work p {
  margin: 0 auto;
  width: 50%;
  font-size: 1.5rem;
}

.work-cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.work-cards {
  border: 1px solid #999;
  border-radius: 8px;
  width: 275px;
  height: 400px;
  box-shadow: 1px 1px 5px #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-cards h3,
.work-cards p {
  padding-bottom: ;
}

.work-cards img {
  width: 200px;
  height: 200px;
}

/* -----Contact SECTION-----*/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/* #name-input {
  outline: 0;
  border: 0;
} */
