* {
  margin: 0;
  padding: 0;
}
body {
  display: block;
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 200%;
}
h1 {
  background-color: gray;
  margin-bottom: 40px;
}

img {
  margin: 50px;
}
